/* --- CLEARFIX --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}
button {
  background: none;
}
.container {
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}
.flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.top-header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.top-header .flex-container {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.top-header .flex-container .left-side {
  width: 81px;
  height: 28px;
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
}
.top-header .swichlang a {
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  color: #000000;
}
@media (max-width: 750px) {
  .top-header .extend-menu {
    display: none;
    z-index: 100;
    position: absolute;
    width: calc(81.25%);
    padding: 20px 20px 0 35px;
    background-color: #1a1a1a;
    top: 0;
    right: 0;
  }
}
.top-header .extend-menu ul {
  margin-top: -35px;
}
.top-header .extend-menu .item {
  padding: 35px 0;
  border-bottom: 1px solid #747474;
}
.top-header .extend-menu .item:last-child {
  border-bottom: none;
}
.top-header .extend-menu .item a {
  font-size: 22px;
}
@media (min-width: 1170px) {
  .top-header {
    padding: 0;
  }
}
.bottom-header {
  height: 543px;
  background-image: url("../images/mobile/mob-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom-header .container {
  position: relative;
  width: 100%;
  height: 100%;
}
@media (min-width: 1170px) {
  .bottom-header .container {
    padding: 0;
  }
}
.bottom-header .title {
  position: absolute;
  bottom: 36px;
  width: 100%;
  left: 0;
}
.bottom-header .title h1 {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
.bottom-header .title h1 span {
  display: none;
}
@media (min-width: 480px) {
  .bottom-header .title h1 {
    font-size: 70px;
    line-height: 1.2em;
  }
}
#btn-menu {
  width: 74px;
  height: 26px;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url("../images/mobile/sandwich.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto;
}
#close {
  width: 100%;
  height: 35px;
  background-image: url("../images/mobile/close-btn.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto;
  border: none;
  outline: none;
  cursor: pointer;
}
@media (min-width: 750px) {
  .top-header {
    position: static;
    display: block;
    height: 45px;
    background-color: #000000;
  }
  .top-header .container {
    width: 720px;
    padding: 0 15px;
  }
  .top-header .flex-container {
    height: 45px;
  }
  .top-header .flex-container .left-side,
  .top-header .flex-container .right-side {
    height: 100%;
  }
  .top-header .flex-container .left-side {
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    width: 61px;
  }
  .top-header .flex-container .swichlang a {
    font-size: 18px;
    line-height: 2.5em;
    color: #ffffff;
  }
  .top-header .flex-container .right-side {
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
  }
  .top-header .sandwich-menu {
    display: none;
  }
  .top-header .extend-menu {
    position: static;
    display: inline-block;
    width: 100%;
    padding: 0;
  }
  .top-header .extend-menu ul {
    margin-top: 0;
  }
  .top-header .extend-menu .item {
    display: inline-block;
    padding: 0  28px 0 0;
    border-bottom: none;
  }
  .top-header .extend-menu .item:last-child {
    padding: 0 57px 0 0;
  }
  .top-header .extend-menu .item a {
    line-height: 45px;
    font-size: 18px;
  }
  .bottom-header {
    height: 360px;
    background-image: url("../images/750/750-header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bottom-header .container {
    width: 720px;
    padding: 0 15px;
  }
  .bottom-header .title {
    position: absolute;
    top: 50%;
    left: -11px;
    transform: translateY(-50%);
    width: 100%;
  }
  .bottom-header .title h1 {
    font-size: 46px;
    text-align: right;
    line-height: 3em;
    color: #000000;
  }
  .bottom-header .title h1 span {
    display: inline-block;
  }
  .bottom-header .title h1 br {
    display: none;
  }
  #btn-swichlang {
    background-image: url("../images/750/ua-en.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  #close {
    display: none;
  }
}
@media (min-width: 1170px) {
  .top-header {
    height: 50px;
  }
  .top-header .container {
    width: 1140px;
    padding: 0 10px;
  }
  .top-header .flex-container {
    height: 50px;
    justify-content: flex-end;
  }
  .top-header .flex-container .left-side {
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    width: 68px;
  }
  .top-header .flex-container .swichlang a {
    font-size: 20px;
  }
  .top-header .flex-container .extend-menu .item {
    padding: 0  42px 0 0;
  }
  .top-header .flex-container .extend-menu .item:last-child {
    padding: 0 159px 0 0;
  }
  .top-header .flex-container .extend-menu .item a {
    font-size: 20px;
    line-height: 49px;
  }
  .bottom-header {
    height: 500px;
    background-image: url("../images/1170/1170-header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bottom-header .container {
    width: 1140px;
    padding: 0 10px;
  }
  .bottom-header .title {
    left: -8px;
  }
  .bottom-header .title h1 {
    font-size: 70px;
  }
}
@media (min-width: 1450px) {
  .top-header {
    height: 70px;
  }
  .top-header .container {
    width: 1140px;
    height: 70px;
    padding: 0 10px;
  }
  .top-header .flex-container {
    height: 70px;
    justify-content: flex-end;
  }
  .top-header .flex-container .left-side {
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    width: 68px;
  }
  .top-header .flex-container .swichlang a {
    font-size: 20px;
    line-height: 3.4em;
  }
  .top-header .flex-container .extend-menu .item {
    padding: 0  54px 0 0;
  }
  .top-header .flex-container .extend-menu .item:last-child {
    padding: 0 175px 0 0;
  }
  .top-header .flex-container .extend-menu .item a {
    font-size: 22px;
    line-height: 65px;
  }
  .bottom-header {
    height: 700px;
    background-image: url("../images/1170/1170-header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bottom-header .container {
    width: 1140px;
    padding: 0 10px;
  }
  .bottom-header .title {
    left: -8px;
  }
  .bottom-header .title h1 {
    font-size: 70px;
    line-height: 3.5em;
  }
}
.main-section {
  background-color: #f1f1f1;
}
.main-section .container {
  padding-bottom: 60px;
}
@media (min-width: 750px) {
  .main-section .container {
    width: 720px;
    padding: 19px 15px 40px 15px;
  }
  .main-section .container br {
    display: none;
  }
}
@media (min-width: 1170px) {
  .main-section .container {
    width: 1140px;
    padding: 17px 0 60px 0;
  }
}
.main-section .line {
  display: none;
}
@media (min-width: 750px) {
  .main-section .line {
    display: block;
    margin: 30px auto 23px auto;
    width: 530px;
    height: 1px;
    border: 0;
    background: #1a1a1a;
  }
}
@media (min-width: 1170px) {
  .main-section .line {
    margin: 40px auto 33px auto;
    width: 675px;
  }
}
@media (min-width: 750px) {
  .main-section .section1 .line {
    margin-top: 10px;
  }
}
@media (min-width: 1170px) {
  .main-section .section1 .line {
    margin-top: 20px;
  }
}
.main-section .text-content {
  font-size: 22px;
  text-align: center;
  line-height: 30px;
}
@media (min-width: 750px) {
  .main-section .text-content {
    font-size: 20px;
    line-height: 28px;
    text-align: left;
  }
}
@media (min-width: 1170px) {
  .main-section .text-content {
    font-size: 24px;
    line-height: 32px;
  }
}
.main-section .text1 {
  margin: 10px 0 30px 0;
}
.main-section .text3 {
  margin-top: 60px;
}
.main-section .text1,
.main-section .text2,
.main-section .text3,
.main-section .text4 {
  text-indent: 35px;
}
@media (min-width: 750px) {
  .main-section .section1 .video iframe {
    display: block;
    width: 600px;
    height: 430px;
    margin: 40px auto 0 auto;
  }
}
@media (min-width: 1170px) {
  .main-section .section1 .video iframe {
    width: 685px;
    height: 490px;
  }
}
.main-section .section2 a {
  color: #0c0535;
  cursor: pointer;
}
.main-section .gallery {
  margin-top: 50px;
}
.main-section .gallery .slick-arrow {
  position: absolute;
  width: 30px;
  height: 58px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.main-section .gallery .slick-prev {
  left: 0;
  background-image: url("../images/mobile/arrow-left.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.main-section .gallery .slick-next {
  right: 0;
  background-image: url("../images/mobile/arrow-right.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.main-section .gallery .slick-slide {
  width: 169px;
  height: 232px;
  margin: 0 5px;
}
@media (min-width: 750px) {
  .main-section .gallery .slick-slide {
    width: 188px;
    height: 259px;
  }
}
@media (min-width: 1170px) {
  .main-section .gallery .slick-slide {
    width: 263px;
    height: 361px;
    margin: 0 2px;
  }
}
.main-section .gallery .slick-list {
  margin: 0 auto;
  width: 170px;
}
@media (min-width: 480px) {
  .main-section .gallery .slick-list {
    width: 350px;
  }
}
@media (min-width: 750px) {
  .main-section .gallery .slick-list {
    width: 593px;
  }
}
@media (min-width: 1170px) {
  .main-section .gallery .slick-list {
    width: 1060px;
  }
}
.footer {
  width: 100%;
  height: 395px;
  background-image: url("../images/mobile/mob-footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 750px) {
  .footer {
    height: 287px;
    background-image: url("../images/750/750-footer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 1170px) {
  .footer {
    height: 330px;
  }
}
.footer .container {
  margin: 0 auto;
  padding: 40px 10px 0 10px;
}
@media (min-width: 480px) {
  .footer .container {
    padding: 40px 45px 0 45px;
    width: 720px;
  }
}
@media (min-width: 750px) {
  .footer .container {
    padding: 0 15px;
    width: 720px;
  }
}
@media (min-width: 1170px) {
  .footer .container {
    padding: 8px 0 0 0;
    width: 1140px;
  }
}
.footer .top-footer {
  text-align: center;
}
.footer .top-footer .heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
}
@media (min-width: 750px) {
  .footer .top-footer .heading {
    font-size: 34px;
  }
}
@media (min-width: 1170px) {
  .footer .top-footer .heading {
    font-size: 40px;
  }
}
.footer .top-footer .social {
  margin-top: 27px;
}
@media (min-width: 1170px) {
  .footer .top-footer .social {
    margin-top: 70px;
  }
}
.footer .top-footer .social .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 38px;
}
.footer .top-footer .social .icon:last-child {
  margin-right: 0;
}
.footer .top-footer .social .icon-vk {
  background-image: url("../images/mobile/icon-vk.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.footer .top-footer .social .icon-you {
  background-image: url("../images/mobile/icon-you.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.footer .top-footer .social .icon-fb {
  background-image: url("../images/mobile/icon-fb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.footer .contacts {
  margin-top: 26px;
}
@media (min-width: 1170px) {
  .footer .contacts {
    justify-content: space-between;
    margin-top: 70px;
  }
}
.footer .contacts .item {
  width: 100%;
  margin-bottom: 25px;
}
@media (min-width: 750px) and (max-width: 1149px) {
  .footer .contacts .item:not(:first-child) {
    width: 50%;
  }
}
.footer .contacts .item a,
.footer .contacts .item span {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
@media (min-width: 480px) {
  .footer .contacts .item a,
  .footer .contacts .item span {
    font-size: 20px;
  }
}
@media (min-width: 750px) {
  .footer .contacts .item:last-child {
    text-align: right;
  }
  .footer .contacts .item:last-child span {
    line-height: 22.5px;
  }
}
@media (min-width: 1170px) {
  .footer .contacts .item {
    width: 33.33%;
  }
  .footer .contacts .item:nth-child(1) {
    order: 2;
  }
  .footer .contacts .item:nth-child(2) {
    order: 1;
  }
  .footer .contacts .item:nth-child(3) {
    order: 3;
  }
}
@media (max-width: 749px) {
  .footer .contacts .item br {
    display: none;
  }
}
@media (min-width: 1170px) {
  .footer .contacts .item {
    width: auto;
  }
}
.footer .contacts .icon {
  display: inline-block;
  width: 58px;
  height: 45px;
  margin-right: 20px;
  vertical-align: bottom;
}
.footer .contacts .icon-post {
  background-image: url("../images/mobile/icon-post.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.footer .contacts .icon-tel {
  background-image: url("../images/mobile/icon-tel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.footer .contacts .icon-pointer {
  background-image: url("../images/mobile/icon-pointer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.footer a {
  color: #000000;
  cursor: pointer;
}
